<div class="results-page">
  <br>
  <br>
  Current Temperature:
    <strong>Current Temperature: </strong><%= @weather_service.current_temp %>
    <br>
    <strong>Low: </strong><%= @weather_service.low_temp %>
    <br>
    <strong>High: </strong><%= @weather_service.high_temp %>
</div>
