<div class="results-page">
  Search Address: <%= @display_address %>
  <br>
  <br>
  Current Temperature:
    <strong>F: </strong><%= @weather.farenheit %>
    <strong>C: </strong><%= @weather.celcius %>
</div>
